In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

In [6]:
cloud_config={

    'secure_connect_bundle': 'C:\\Users\\Lenovo\\Downloads\\ML project\\forest\\secure-connect-forest-cover (1).zip'


}
auth_provider = PlainTextAuthProvider('sZcGEtTmAmmNJszRYHvvkBIN', 'ymnH,SGYC6a_P,,ROSW.Zl0uMhLvbezMLORDrRIvtpH_bZK-93N4w4q90xTPx_TecP7r-lnqpekGcNtB9Fdp3WzFNz-vtwD3K8Gf,JCHbdf4ZWe1YZ9Zb,HKUWCBe5-H')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect("machine_learning")

In [7]:
columns=["Id", "Aspect", "Cover_Type", "Elevation", "Hillshade_3pm", 
"Hillshade_9am", "Hillshade_Noon", "Horizontal_Distance_To_Fire_Points", 
"Horizontal_Distance_To_Hydrology", "Horizontal_Distance_To_Roadways", "Slope",
"Soil_Type1", "Soil_Type10", "Soil_Type11", "Soil_Type12", "Soil_Type13", "Soil_Type14", 
"Soil_Type15", "Soil_Type16", "Soil_Type17", "Soil_Type18", "Soil_Type19", "Soil_Type2", 
"Soil_Type20", "Soil_Type21", "Soil_Type22", "Soil_Type23", "Soil_Type24", "Soil_Type25", 
"Soil_Type26", "Soil_Type27", "Soil_Type28", "Soil_Type29", "Soil_Type3", "Soil_Type30", 
"Soil_Type31", "Soil_Type32", "Soil_Type33", "Soil_Type34", "Soil_Type35", "Soil_Type36", 
"Soil_Type37", "Soil_Type38", "Soil_Type39", "Soil_Type4", "Soil_Type40", "Soil_Type5", 
"Soil_Type6", "Soil_Type7", "Soil_Type8", "Soil_Type9", "Vertical_Distance_To_Hydrology",
"Wilderness_Area1", "Wilderness_Area2", "Wilderness_Area3", "Wilderness_Area4"]

In [16]:
row = session.execute("SELECT * FROM forest")
import pandas as pd
all=[]
for i in row:
    data_all=i
    data_all=list(data_all)
    all.append(data_all)
df=pd.DataFrame(all,columns=columns)

In [10]:
target_col=df['Cover_Type']
df_1=df.drop(columns=['Cover_Type'])
df_1['Cover_Type']=target_col
df_1.head()

,Id,Aspect,Elevation,Hillshade_3pm,Hillshade_9am,Hillshade_Noon,Horizontal_Distance_To_Fire_Points,Horizontal_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Slope,...,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,Vertical_Distance_To_Hydrology,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Cover_Type
0,4317,4,3202,149,204,216,3349,60,3550,12,...,0,0,0,0,11,1,0,0,0,7
1,3372,103,2315,6,252,166,365,297,895,37,...,0,0,0,0,204,0,0,0,1,4
2,14340,136,3420,115,242,233,3301,342,3743,15,...,0,0,0,0,182,0,0,1,0,7
3,1584,278,3275,184,197,242,313,60,5461,8,...,0,0,0,0,10,1,0,0,0,2
4,7034,156,2656,133,235,241,700,0,1188,14,...,0,0,0,0,0,0,0,1,0,5

In [ ]:
df_1.to_csv(r'C:\\Users\\Lenovo\\Downloads\\ML project\\forest\\notebook\\data\\data.csv')